version: 2.1
jobs:
  build:
    working_directory: /go/src/github.com/jjjjpppp/quoinex-go-client
    docker:
    - image: circleci/golang:1.13.8
    steps:
    - checkout
    - run:
        command: go mod download
    - run:
        command: go test -v ./...
    - run:
        command: |
          set -x
          wget -O- -nv https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s v1.24.0
          ./bin/golangci-lint run ./...


workflows:
  version: 2
  test_and_lint:
    jobs:
    - build:
        filters:
          branches:
            only: master
